/***** Flechas de navegación *****/
.page-arrow {
    background-color: transparent !important;
    padding: 0 .25rem !important;
    border: none !important;
    box-shadow: none !important;
}
.page-arrow:active, .page-arrow:hover {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

/***** Botones de página *****/
.page-link {
    background-color: transparent !important;
    color: var(--gray-color) !important;
    padding: 0 .25rem !important;
    border: none !important;
    box-shadow: none !important;
    min-width: 32px;
    text-align: center;
}
.page-link:hover {
    background-color: transparent !important;
    color: var(--dark-color) !important;
    border: none !important;
    box-shadow: none !important;
}

/***** Página activa *****/
.page-item.active .page-link {
    background-color: transparent !important;
    color: var(--main-color) !important;
    font-weight: bold;
    border: none !important;
    box-shadow: none !important;
}

/***** Ellipsis “…” *****/
.page-item.disabled .page-link {
    color: var(--gray-color) !important;
    cursor: default;
}

/***** Ajuste de tamaño y alineación *****/
.pagination {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 0.25rem;
}
