:root{
  --dark-color: #212529;
  --darkgray-color:#555;
  --icon-color:#ffffff;
  --lightgray-color: #dddddd;
  --main-color:#5285c5;
  --main-transparent-color: rgba(82, 133, 197, 0.25);
  --white-color: #ffffff;
}
.color-rojo {
  color: #f00;
}

.App {
  font: 2.5vmin 'CenturyGothic', 'Century Gothic', Arial, sans-serif;
}
@font-face {
  font-family: "CenturyGothic";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/CenturyGothic.ttf") format("truetype");
}

h1,h2,h3 {	
  color: var(--white-color);
  font-weight: normal;
}
h4 {	
  color: var(--main-color);
  font-weight: normal;
}
hr { opacity: 0.5; }

.App-link {
  color: var(--main-color);
}
/*************************** HEADER **************************/
.App-header {
  background-color: var(--dark-color);
  height: 10vmin; 
  width: 100%;
  color: var(--white-color);
}
.App-slogan, .App-slogan td {
  border: none;
  padding-left: 1.6vmin;
}
.App-logo{
  height: 5vmin;
  pointer-events: none;
}
.App-Title {
  margin-top: 2.25vmin;
  padding-left: 0.75vmin;
}

/*************************** MENU NAV **************************/
.App-aside {
  float: left;
  height: max-content;
}
.App-menu-subtitulo {
  background-color:  var(--dark-color);
  color: var(--main-color);
  padding: 10px 30px;
  font-size: 2.5vmin;
  text-align: center;
  text-decoration: none;
  width: 15px;
  display: block;
}
.App-menu-item {
  background-color: var(--dark-color);
  color: var(--icon-color);
  padding: 10px 45px 10px 30px;
  font-size: 2.5vmin;
  text-align: center;
  text-decoration: none; 
  width: 20px;
  display: block;
  border: none;
  cursor: pointer;
}
.App-menu-item:hover {
  background-color: var(--dark-color);
  color: var(--white-color);
}

.App-menu-icono {
}
.App-menu-icono:hover {
  color: var(--main-color);
}
.App-menu-icono2 {
}

/*************************** BODY **************************/
.App-body {
  display: flex;
  font-size: 2vmin;
  background-color: #fdfdfd;
}
.App-body h3 {
  text-align: center;
  color: var(--main-color);
}

.contenidoBody {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.table {
  border-collapse: collapse;
  position: relative;
  top: -6vmin;
  border-color: var(--lightgray-color);
  width: 100%;
}
.table th  {
  background-color:var(--main-color);
  color: var(--white-color);
  font-size: 2vmin;
  font-weight: normal;
  padding: 0.75vmin 1vmin;
  border-bottom: 1px solid var(--dark-color);
}
.table td {
  color: var(--dark-color);
  font-size: 2.5vmin;
  text-align: center;
  padding: 1vmin 1vmin;
}
.table tr:nth-child(even) { background-color:var(--white-color); }
.table tr:nth-child(odd) { background-color: #f1f1f1; }
.table tr:nth-child(even):hover { background-color:var(--main-transparent-color); }
.table tr:nth-child(odd):hover { background-color:var(--main-transparent-color); }

/*************************** Sort **************************/
.tableSort {
  border-collapse: collapse;
  background-color: transparent;
  padding: 0;
  float: right;
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
  line-height: 0;
}
.tableSort tr {
  background-color: transparent;
  padding: 0;
}
.tableSort th {
  background-color: transparent;
  padding: 0;
  border: none;
}
.tableSort td {
  background-color: transparent;
  padding: 0;
}
.tableSort tr:nth-child(even) { background-color:transparent; padding: 0; }
.tableSort tr:nth-child(odd) { background-color:transparent; padding: 0; }
.buttonSort {
  background-color: var(--main-color);
  color: var(--white-color);
  border: none;
  padding: 0;
  padding-inline: 0;
}
.buttonSort:hover {
  /* background-color: var(--dark-color); */
  color: var(--dark-color);
}

.tableRegistrar {
  width: 100%;
}

.App-body-icono {
  color: var(--main-color);
}

.App-body-boton-vistas {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.textField{
  width: 100%;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif!important;
}
.select, .select-item{
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif!important;
}
.button{
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif!important;
  background-color: var(--main-color)!important;
  color: var(--icon-color);
  width: 100%;
  text-align: center;
}

input {
  font-size: 1.6vmin;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif!important;
  color: var(--darkgray-color);
  width: 100%;
  height: 3vmin !important;
  background-color: var(--lightgray-color);
  border: none;
}
label, .MuiSelect-select {
  font-size: 1.6vmin;
  font-family: 'Century Gothic', Helvetica, Arial, sans-serif!important;
  color: var(--darkgray-color)!important;
  min-width: 30vmin!important;
}
.idText {
  text-align: left;
  margin-left: -1vmin !important;
}

input[type='number'] {
  color: var(--darkgray-color)!important;
}
input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
  background-color: var(--white-color);
  font-size: inherit;
  opacity: 0;
  height: 6vmin;
  padding: 0 12px 0 12px;
  cursor: pointer;

}
input[type='date'] {
  color: var(--darkgray-color)!important;
  width: 100%;
  cursor: pointer;
}
input[type='time'] {
  color: var(--darkgray-color)!important;
  width: 100%;
  border: none;
  cursor: pointer;
}
input[type="date"]::-webkit-calendar-picker-indicator ,
input[type="time"]::-webkit-calendar-picker-indicator {
  color: var(--main-color);
  filter: invert(0.5);
  color-scheme: inherit;
  cursor: pointer;
}
select {
  background-color: var(--white-color);
  font-size: inherit;
  font-family: inherit;
  color: var(--darkgray-color);
  width: 100%;
  height: 100%;
  border: none;
  padding-inline-start: 1vmin;
  padding: 0.5vmin 0;
  cursor: pointer;
}
select::-ms-expand { display: none; }

.dateSelector { 
  padding: 0 0 0 0.75vmin !important; 
  border:none; 
  box-shadow: none;
}
.timeSelector { 
  padding: 0 0 0 0.75vmin !important; 
  border:none; 
  box-shadow: none;
}

.responseStatus {
  font-size: 2.5vmin;
  color: var(--darkgray-color);
}


/*************************** Sweet Alerts **************************/
.swalTable {
  border-collapse: collapse;
  border-color: var(--lightgray-color);
  width: 90%;
}
.swal2-title {
  color: var(--main-color);
  font-size: 3vmin;
  font-weight: normal;
  padding: 0em 1em 0;
}
.swalTable th  {
  background-color:var(--main-color);
  color: var(--white-color);
  font-size: 1.8vmin;
  font-weight: normal;
  padding: 0.75vmin 1vmin;
  border-bottom: 1px solid var(--dark-color);
}
.swalTable td {
  color: var(--dark-color);
  font-size: 2.2vmin;
  text-align: center;
  padding: 1vmin 0.75vmin;
}
.swalTable td:nth-child(even){background-color:var(--white-color);}
.swalTable td:nth-child(odd){background-color: #f1f1f1;}


.swal2-input {
  background-color:var(--white-color);
  height: 4vmin !important;
  font-size: 2.2vmin;
  margin: 0;
  width: 100%;
}
.swal2-confirm.swal2-styled {
  background-color: var(--main-color);
  font-family: inherit;
  font-size: 2vmin;
}
.swal2-cancel {
  font-family: inherit;
  font-size: 2vmin !important;
}

/*************************** HOME.JS **************************/
.contentHome {
  width: 80%;
}
.contentHome td {
  width: 30%;
  text-align: center;
}
.labelHome {
  color: var(--darkgray-color);
}