body {
  margin: 0;
  font-family: -apple-system, 'Century Gothic', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code { font-family: 'Century Gothic', Helvetica, Arial, sans-serif; }